.listContainer{
    height: 80vh;
    overflow-y: scroll;
    padding: 2rem;
    scrollbar-width: auto;
    scrollbar-color: #4C3BCF #FFFFFF;
    background-color: #ecedf6b7;
    margin-bottom: 2rem;
}
