.todo-item{
    border: solid 2px #212121;
    position: relative;
    margin-bottom: 50px;
}

.todo-title--completed,
.todo-desc--completed{
    text-decoration: line-through;
}

.icon{
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform .2s;
    margin-right: 10px;
}
.icon:hover{
    transform: scale(1.2);
    color: rgb(10, 95, 10);
}

.list-content{
    margin-left: 50px;
}

.icon-check--active{
    color: rgb(10, 95, 10);
}

.close{
    position: absolute;
    top: -25px;
    right: 10px;
    border-radius: 50%;
    transition: all .3;
    color: rgb(164, 23, 23);
    height: 50px;
    cursor: pointer;
}


